.macondo-regular {
  font-family: "Macondo", cursive;
  font-weight: 400;
  font-style: normal;
}
.macondo-bold {
  font-family: "Macondo", cursive;
  font-weight: 800;
  font-style: normal;
}
.antic-didone-regular {
  font-family: "Antic Didone", serif;
  font-weight: 400;
  font-style: normal;
}
.antic-didone-bold {
  font-family: "Antic Didone", serif;
  font-weight: 800;
  font-style: normal;
}

